@mixin action-key {
  flex-grow: 1;

  .key {
    width: 100%;
    font-size: var(--small-font-size);
    text-transform: lowercase;
  }

  .key-text {
    &:not(:last-child) {
      font-size: var(--mini-font-size);
    }
  }
}
